<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723259332020-8mal2t0s1r0k582qdqdhj8dtp1fbc9cc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723259332020-8mal2t0s1r0k582qdqdhj8dtp1fbc9cc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>723259332020-r5u1laq4umq0v0n489d2b4k81vj0ugo3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAgZBbrHR6iz9nM4oDW_52O8LrFa-LV6o</string>
	<key>GCM_SENDER_ID</key>
	<string>723259332020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inoi.urbanbreeze.dev</string>
	<key>PROJECT_ID</key>
	<string>urban-breeze</string>
	<key>STORAGE_BUCKET</key>
	<string>urban-breeze.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723259332020:ios:1ed3660599c235cf1a8ee1</string>
</dict>
</plist>