<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    
    <!-- Health Connect 권한 (사이클링 운동 기록 관리 및 통계 제공용) -->
    <!-- 
        권한 사용 목적:
        - READ_EXERCISE: 사이클링 운동 기록(시작/종료 시간, 운동 종류)을 불러와 주간/월간 성과 추적
        - READ_HEART_RATE: 운동 중 심박수로 운동 강도 분석 및 건강 상태 추적
        - READ_SPEED: 라이딩 속도 데이터 분석 및 성과 개선 인사이트 제공
        - READ_DISTANCE: 이동 거리 측정 및 운동 목표 달성도 추적
        - READ_TOTAL_CALORIES_BURNED: 총 칼로리 소모량 계산 및 건강 관리 지원
        - READ_ACTIVE_CALORIES_BURNED: 활동 칼로리 추적 및 정확한 운동 강도 파악
        - READ_EXERCISE_ROUTE: GPS 경로 데이터로 지도 시각화 및 고도 정보 분석
        - ACTIVITY_RECOGNITION: 운동 활동 자동 감지 및 정확한 기록
        
        모든 데이터는 안전하게 암호화되어 저장되며, 사용자 동의 없이 제3자와 공유되지 않습니다.
    -->
    <uses-permission android:name="android.permission.health.READ_EXERCISE"/>
    <uses-permission android:name="android.permission.health.READ_HEART_RATE"/>
    <uses-permission android:name="android.permission.health.READ_SPEED"/>
    <uses-permission android:name="android.permission.health.READ_DISTANCE"/>
    <uses-permission android:name="android.permission.health.READ_TOTAL_CALORIES_BURNED"/>
    <uses-permission android:name="android.permission.health.READ_ACTIVE_CALORIES_BURNED"/>
    <uses-permission android:name="android.permission.health.READ_EXERCISE_ROUTE"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    
    <!-- androidx.health.connect 라이브러리가 선언하는 불필요한 권한 제거 -->
    <uses-permission android:name="android.permission.health.READ_STEPS" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_BASAL_METABOLIC_RATE" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_BLOOD_GLUCOSE" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_BLOOD_PRESSURE" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_BODY_FAT" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_BODY_TEMPERATURE" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_BODY_WATER_MASS" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_BONE_MASS" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_ELEVATION_GAINED" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_FLOORS_CLIMBED" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_HEART_RATE_VARIABILITY" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_HEIGHT" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_HYDRATION" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_LEAN_BODY_MASS" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_MENSTRUATION" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_NUTRITION" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_OXYGEN_SATURATION" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_POWER" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_RESPIRATORY_RATE" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_RESTING_HEART_RATE" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_SLEEP" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_STEPS_CADENCE" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_SWIMMING_STROKES" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_VO2_MAX" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_WEIGHT" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_LOCATION" tools:node="remove"/>
    <uses-permission android:name="android.permission.health.READ_HEALTH_DATA_HISTORY" tools:node="remove"/>
    
    
    <application
        android:label="${appLabel}"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon"
        android:enableOnBackInvokedCallback="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
            <!-- Universal Links (App Links) - Prod -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="urbanbreeze.org" />
                <data android:pathPrefix="/share" />
            </intent-filter>
            
            <!-- Universal Links (App Links) - Dev -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="devlink.urbanbreeze.org" />
                <data android:pathPrefix="/share" />
            </intent-filter>
        </activity>
        
        <!-- Health Connect 권한 근거(Rationale) 표시 Activity -->
        <!-- Android 13 이하: 사용자가 개인정보 처리방침 링크 클릭 시 표시 -->
        <activity
            android:name=".PermissionsRationaleActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>
        </activity>
        
        <!-- Android 14 이상: 권한 사용 세부정보 화면 -->
        <activity-alias
            android:name="ViewPermissionUsageActivity"
            android:exported="true"
            android:targetActivity=".PermissionsRationaleActivity"
            android:permission="android.permission.START_VIEW_PERMISSION_USAGE">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
            </intent-filter>
        </activity-alias>
        
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
            
        <meta-data
            android:name="com.google.android.gms.client_id"
            android:value="${googleClientId}" />
            
        <!-- 카카오 로그인 커스텀 URL 스킴 설정 -->
        <activity 
            android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity"
            android:exported="true">
            <intent-filter android:label="flutter_web_auth">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                
                <data android:scheme="${kakaoScheme}" android:host="oauth"/>
            </intent-filter>
        </activity>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <!-- Health Connect 패키지 확인 -->
        <package android:name="com.google.android.apps.healthdata" />
        <intent>
            <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
        </intent>
        
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
