<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvvWplxD1W3_DR7KerGfPEx6ZaIOYG7VI</string>
	<key>GCM_SENDER_ID</key>
	<string>952587763213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inoi.ridingmate.dev</string>
	<key>PROJECT_ID</key>
	<string>ridingmate-8167a</string>
	<key>STORAGE_BUCKET</key>
	<string>ridingmate-8167a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952587763213:ios:972db10d3ec411c27adf44</string>
</dict>
</plist>