<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Urban Breeze</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Urban Breeze</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao$(KAKAO_NATIVE_APP_KEY)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>urbanbreeze</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>co.tryterra.data.post.request</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>프로필 사진 촬영, 운동기록 사진 업로드를 위해 카메라에 접근합니다.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>운동 기록, 심박수, 거리, 고도 데이터를 읽어 앱 내 통계를 제공합니다.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>운동 기록, 심박수, 거리, 고도 데이터를 읽어 앱 내 통계를 제공합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>이 앱은 지도에 현재 위치를 표시하고, 백그라운드에서도 위치 서비스를 사용합니다.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>이 앱은 백그라운드에서도 위치 서비스를 사용하여 지도에 현재 위치를 표시합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>이 앱은 귀하의 현재 위치를 지도에 표시하기 위해 위치 정보에 접근합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>운동 기록에 사진을 추가하기 위해 갤러리에 접근합니다.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>이 앱은 개인화된 경험과 서비스 개선을 위해 광고 식별자에 접근합니다. 귀하의 개인정보는 안전하게 보호됩니다.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
